<div class="form-inline movie-search-container" (mouseleave)="isFocused=false">
  <input #searchBox type="search" class="form-control" placeholder="Search" aria-label="Search"
         (input)="search(searchBox.value)"   (mouseover)="isMouseOver=true"  />


  <ul *ngIf="isMouseOver"  class="movie-search-result">
    <li *ngFor="let movie of movies">
      <a routerLink="/movie/{{movie.id}}" class="clearfix">
        <img class="movie-search-result-image" src="{{ movie.poster }}" alt="{{ movie.title }}"/>
        <span class="movie-search-result-info">
          <strong>{{ movie.title }}</strong>
          <em>{{ movie.cast | join: ", " }}</em>
        </span>
      </a>
    </li>
  </ul>
</div>

